.dishesWrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
  margin: 8px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dishesWrapper h3 {
  align-self: center;
  padding-left: 8px;
}
.dishesWrapper p {
  padding: 8px;
  padding-right: 16px;
  text-align: justify;
  align-self: start;
}

.dishImage {
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  grid-row: 1 / span 2;
}

@media (min-width: 750px) {
  .dishesWrapper {
    grid-template-columns: 4fr 8fr;
  }

  .dishImage {
    max-width: 250px;
    grid-column-start: 1;
  }
  .dishesWrapper h3 {
    align-self: end;

    padding-right: 16px;
  }
  .dishesWrapper p {
    align-self: start;
  }
}
