.formWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.submit {
  width: 290px;
  height: 60px;
  background-color: #98a07f;
  display: block;
  margin: 8px auto;
  margin-bottom: 24px;
  border: none;
}

.submit:disabled {
  background-color: #3d4033;
  color: grey;
}
