.footerWrapper {
  background-color: #98a07f;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerWrapper img {
  width: 40px;
  padding: 24px;
}

.footerWrapper span {
  font-size: 18px;
  letter-spacing: 3.2;
  color: #f1f1f1;
  text-align: center;
  padding-bottom: 24px;
}
