.formInputWrapper {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  letter-spacing: 3.2;
  color: #a4693d;
  max-width: 327px;
  padding: 8px;
}

.formInputWrapper p::after {
  content: ".";
  visibility: hidden;
}

.formInputWrapper p {
  color: #ce2029;
}

.formInputWrapper input {
  margin-top: 8px;
  height: 40px;
  font-size: 18px;
  color: #a4693d;
  border-color: #3d4033;
  box-sizing: border-box;
}

.formInputWrapper .errorInput {
  border-color: #ce2029;
}
