.selectBoxWrapper {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  letter-spacing: 3.2;
  color: #a4693d;
  max-width: 327px;
  padding: 0px 8px;
}

.selectBoxWrapper select {
  margin-top: 2px;
  height: 40px;
  font-size: 18px;
  color: #a4693d;
  border-color: #3d4033;
  border-width: 2px;
  padding: 1px 2px;
  box-sizing: border-box;
}

.selectBoxWrapper p::after {
  content: ".";
  visibility: hidden;
}

.selectBoxWrapper p {
  color: #ce2029;
  font-size: 15px;
}

.selectBoxWrapper .errorInput {
  border-color: #ce2029;
}
