.formInputWrapper {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  letter-spacing: 3.2;
  color: #a4693d;
  max-width: 327px;
  padding: 0px 8px;
}

.formInputWrapper p::after {
  content: ".";
  visibility: hidden;
}

.formInputWrapper p {
  color: #ce2029;
  font-size: 15px;
}

.formInputWrapper input {
  margin-top: 2px;
  height: 40px;
  font-size: 18px;
  color: #a4693d;
  border-color: #3d4033;
  box-sizing: border-box;
}

.formInputWrapper .errorInput {
  border-color: #ce2029;
}

@media (min-width: 750px) {
  .formInputWrapper {
    font-size: 25px;
  }
  .formInputWrapper p {
    font-size: 18px;
  }
}
