.backdrop {
  z-index: 10;
  background-color: rgb(105, 105, 105, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalWrapper {
  position: fixed;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 50%);
  z-index: 20;
  height: 40%;
  width: 90%;
  background-color: #f1f1f1;
  display: inline-grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 2fr 6fr 4fr;
}

.closeButton {
  width: 40px;
  height: auto;
  grid-column-end: span 2;
  justify-self: end;
}
.logo {
  width: 110px;
  height: auto;
  margin: 8px;
  grid-row-start: 2;
  justify-self: end;
  align-self: center;
  padding-left: 8px;
}

.modalWrapper h2 {
  text-align: center;
  grid-row-start: 2;
  justify-self: start;
  align-self: center;
  padding-right: 8px;
}

.modalWrapper h3 {
  text-align: center;
  grid-row-start: 3;
  grid-column-end: span 2;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 750px) {
  .modalWrapper {
    width: 80%;
    max-width: 800px;
  }
}
