.dishImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 100% 40%;
}

.productDetailsWrapper h1 {
  color: #a4693d;
  padding: 24px;
}

.productDetailsWrapper p {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  text-align: justify;
}

.nutritionalTableImage {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-bottom: 24px;
}

.productDetailsWrapper hr {
  max-width: 80%;
  color: #3d4033;
}

.productDetailsWrapper h2 {
  padding-left: 24px;
  padding-top: 24px;
}

.productDetailsWrapper ul {
  padding-bottom: 24px;
  margin: 0;
  padding-top: 16px;
  list-style-type: none;
}
.productDetailsWrapper li {
  font-size: 18px;
  letter-spacing: 3.2;
  color: #a4693d;
  line-height: 25px;
}

.productDetailsWrapper button {
  width: 70%;
  height: 60px;
  background-color: #98a07f;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border: none;
}

.productDetailsWrapper button:hover {
  color: #3d4033;
  cursor: pointer;
}

@media (min-width: 750px) {
  .productDetailsWrapper h1,
  .productDetailsWrapper p,
  .productDetailsWrapper h2,
  .productDetailsWrapper button,
  .productDetailsWrapper ul {
    padding-left: 25%;
    padding-right: 25%;
  }

  .dishImage {
    width: 70%;
    max-height: 450px;
    height: 400px;
    object-fit: cover;
    object-position: 100% 40%;
    display: block;
    background-color: #3d4033;
    padding-left: 15%;
    padding-right: 15%;
  }
  .productDetailsWrapper hr {
    width: 400px;
  }
  .productDetailsWrapper li {
    font-size: 25px;
    line-height: 35px;
  }
  .productDetailsWrapper button {
    max-width: 700px;
    height: 70px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .nutritionalTableImage {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .productDetailsWrapper button {
    max-width: 900px;
  }
}
@media (min-width: 1600px) {
  .productDetailsWrapper button {
    max-width: 1000px;
  }
}
@media (min-width: 1800px) {
  .productDetailsWrapper button {
    max-width: 1100px;
  }
}
