.heroWrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets//images//homepage-hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroWrapper h1 {
  color: #f1f1f1;
  text-align: center;
  padding: 70px 0;
}

.categoryInfoWrapper {
  background-color: #3d4033;
  margin: 0;
  padding: 0;
}

.categoryInfoWrapper h2,
.categoryInfoWrapper p {
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f1f1f1;
}

.categoryInfoWrapper h2 {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 16px;
}

.categoryInfoWrapper p {
  text-align: justify;
  padding-bottom: 16px;
}

.categoryInfoWrapper button {
  background-color: #3d4033;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.categoryImage {
  display: block;
  margin: 0 auto;
  width: 320px;
  background-color: #3d4033;
  padding: 24px;
}

.icon {
  width: 30px;
  padding-right: 8px;
}

.informationWrapper button:hover,
.invertedInformationWrapper button:hover {
  cursor: pointer;
  color: #3d4033;
}

@media (min-width: 750px) {
  .categoryInfoWrapper {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
  }

  .informationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-order: 1;
    order: 1;
  }

  .invertedInformationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-order: 0;
    order: 0;
  }

  .categoryImage {
    -webkit-order: 0;
    order: 0;
    width: 45%;
    max-width: 600px;
    margin: 0 0;
  }

  .informationWrapper button,
  .invertedInformationWrapper button {
    background-color: #f1f1f1;
    color: #98a07f;
  }
}
