.categoryImageWrapper {
  background-color: black;
  position: relative;
  text-align: center;
}

.categoryImage {
  width: 100%;
  height: auto;
  opacity: 0.6;
}
.title {
  color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoryDescription {
  padding: 14px;
  text-align: justify;
}
